<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>ProjectAppWeb</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterSalle</display-name>
    <servlet-name>AjouterSalle</servlet-name>
    <servlet-class>ProjectAppWeb.AjouterSalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterSalle</servlet-name>
    <url-pattern>/AjouterSalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerrouillerBat</display-name>
    <servlet-name>VerrouillerBat</servlet-name>
    <servlet-class>ProjectAppWeb.VerrouillerBat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerrouillerBat</servlet-name>
    <url-pattern>/VerrouillerBat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deverouiller</display-name>
    <servlet-name>Deverouiller</servlet-name>
    <servlet-class>ProjectAppWeb.Deverouiller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deverouiller</servlet-name>
    <url-pattern>/Deverouiller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeverouillerBat</display-name>
    <servlet-name>DeverouillerBat</servlet-name>
    <servlet-class>ProjectAppWeb.DeverouillerBat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeverouillerBat</servlet-name>
    <url-pattern>/DeverouillerBat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeverrouillerBat</display-name>
    <servlet-name>DeverrouillerBat</servlet-name>
    <servlet-class>ProjectAppWeb.DeverrouillerBat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeverrouillerBat</servlet-name>
    <url-pattern>/DeverrouillerBat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoSalle</display-name>
    <servlet-name>InfoSalle</servlet-name>
    <servlet-class>ProjectAppWeb.InfoSalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoSalle</servlet-name>
    <url-pattern>/InfoSalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginVerify</display-name>
    <servlet-name>LoginVerify</servlet-name>
    <servlet-class>ProjectAppWeb.LoginVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVerify</servlet-name>
    <url-pattern>/LoginVerify</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionPresence</display-name>
    <servlet-name>GestionPresence</servlet-name>
    <servlet-class>ProjectAppWeb.GestionPresence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionPresence</servlet-name>
    <url-pattern>/GestionPresence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionTemperature</display-name>
    <servlet-name>GestionTemperature</servlet-name>
    <servlet-class>ProjectAppWeb.GestionTemperature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTemperature</servlet-name>
    <url-pattern>/GestionTemperature</url-pattern>
  </servlet-mapping>
</web-app>